# Banco de dados
DATABASE_URL="postgresql://user:password@localhost:5432/study_cycle_db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-uma-chave-secreta-segura-com-openssl-rand-base64-32"

# Google OAuth
GOOGLE_CLIENT_ID="seu-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="sua-google-client-secret"

# Email via Resend
RESEND_API_KEY="key-<sua-chave-do-resend>"